/* Import Fonts */
.open-sans-standard {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:"Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

/* Header section */
header {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
  /* background-color: hsl(61, 56%, 41%); */
  background-color: #266052;
  /* background-color: hsl(0, 43%, 26%); */
  height: 3.5rem;
  color: #fff;
  box-shadow:  0 2px 5px 1px rgba(0, 0, 0, 0.2);
}

header > p {
  font-size: 2rem;
  /* color: #eaf2f0; */
  /* color: red */
}

.weather-info {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* Map section */

#map {
 height: calc(100vh - 3.5rem);
 width: 100%;
}
/* style info window */
.gm-style-iw-d {
  color: gray
}

/* Style the zoom control */
/* .gm-bundled-control .gm-bundled-control-on-bottom  */
.gm-bundled-control, .gm-bundled-control-on-bottom, .gmnoprint, .gm-control-active {
  display: flex;
  align-items: flex-end; /* Align as needed */
  background-color: #eaf2f0; /* Change background color */
}

.gm-bundled-control, .gm-bundled-control-on-bottom, .gmnoprint, .gm-control-active {
  background-color: #eaf2f0; /* Change background color */
  border: none; /* Remove border */
  border-radius: 20px; /* Optional: if you want rounded corners */
  box-shadow: 0 2px 6px rgba(0,0,0,0.3); /* Optional: if you want shadow */
  /* Add other styles as needed */
}
